.noto {
    font-family: "Noto Sans KR", sans-serif !important;
}

.caption {
    display: block;
    text-align: center;
    margin-top: 1rem;
    font-weight: 100;
    color: gray;
}

.center {
    display: block;
    margin: auto;
}

.imgBorder--radius {
    border-radius: 10px;
}

.color--red {
    color: red;
    font-weight: bold;
}

p>img {
    width: 60%;
}


.w80 {
    width: 80% !important;
}

.w90 {
    width: 90% !important;
}


.w70 {
    width: 70% !important;
}

.w50 {
    width: 50% !important;
}