.noto {
    font-family: "Noto Sans KR", sans-serif !important;
}

.caption {
    display: block;
    text-align: center;
    margin-top: 1rem;
    font-weight: 100;
    color: gray;
}

.center {
    display: block;
    margin: auto;
}

.imgBorder--radius {
    border-radius: 10px;
}

.color--red {
    color: red;
    font-weight: bold;
}

p>img {
    width: 60%;
}