body{
  font-family: 'Nanum Gothic', sans-serif !important;
}
.noto {
  font-family: "Noto Sans KR", sans-serif !important;
}

.nanumGothic {
  font-family: 'Nanum Gothic', sans-serif;
}

.nanumGothicCoding {
  font-family: 'Nanum Gothic Coding', monospace;
}

.sourceSansPro {
  font-family: 'Source Sans Pro', sans-serif;
}

.caption {
  display: block;
  text-align: center;
  margin-top: 1rem;
  font-weight: 100;
  color: gray;
}

.center {
  display: block;
  margin: auto;
}

.imgBorder--radius {
  border-radius: 10px;
}

.color--red {
  color: red;
  font-weight: bold;
}

p>img {
  width: 60%;
}

.w80 {
  width: 80% !important;
}

.w90 {
  width: 90% !important;
}

.w70 {
  width: 70% !important;
}

.w50 {
  width: 50% !important;
}

em.text--red {
  color: red;
}

.showAnimation {
  animation: show 1s ease-in;
}


// h1,h2,h3,h4{
//   font-weight:500 !important ;
//   margin-bottom: 0.4em;
// }
@keyframes showAnimation {
  from {
    opacity: 0;
  }
}