@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.content {
  max-width: $layout-post-single-width;
  padding: 0 15px;
  margin: 0 auto;
  font-family: $nanum-font-family;

  // & ul > li {
  //   color: orangered;
  //   & > p {
  //     margin-bottom: 1rem;
  //   }
  // }
  & > h1 {
    font-weight: 600;
    margin-bottom: 0.5em;
    font-size: 1.8em;
  }
  & h2 {
    font-size: 1.6em;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-family: $nanum-font-family;
  }
  & h3 {
    font-size: 1.4em;
    font-family: $nanum-font-family;
    font-weight: bold;
  }
  & h4 {
    font-size: 1.2em;
    font-weight: bold;
  }
  &__title {
    font-family: $nanum-font-family;
    font-size: $typographic-base-font-size * 2.4 !important;
    max-width: $layout-post-width;
    margin-left: auto;
    margin-right: auto;
    font-weight: 800;
    text-align: center;
    margin-bottom: 2em !important;
    @include line-height(1.65);
    @include margin-top(1);
    @include margin-bottom(0);
  }
  & p {
    font-weight: 400;
  }

  ol {
    list-style: none;
    font-family: "Lato";
    font-weight: 500;
    counter-reset: my-awesome-counter;
  }
  ol li {
    counter-increment: my-awesome-counter;
  }
  ol li::before {
    content: counter(my-awesome-counter) ". ";
    color: black;
    font-weight: bold;
  }

  &__body {
    & figure {
      @include margin-bottom(1);

      & blockquote {
        font-style: italic;
        text-align: center;
        margin-top: 0;
        @include padding(1, 0);

        & p {
          max-width: $layout-post-width;
          font-size: $typographic-base-font-size * 1.4817;
          margin-top: 0;
          @include margin-bottom(1);
          @include line-height(1.5);
        }
      }
    }

    & a {
      // text-decoration: underline
    }

    & * {
      max-width: $layout-post-width;
      margin-left: auto;
      margin-right: auto;
    }

    & img {
      max-width: 100%;
    }
  }
}

@include breakpoint-md {
  .content {
    padding: 0;

    &__title {
      font-size: $typographic-base-font-size * 2.5;
      @include line-height(2.25);
      @include margin-top(2.25);
      @include margin-bottom(1.5);
    }

    &__body {
      font-size: $typographic-base-font-size * 1.125;
      @include line-height(1.125);
      @include margin-bottom(1.125);

      & p {
        font-size: $typographic-base-font-size * 1.125;
        @include line-height(1.125);
        @include margin-bottom(1.125);
      }
    }
  }
}
