@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';



.search{
  width: 100%;
  position: relative;

  
  &-article{
    width: initial;
    height: 10%;
    max-height: 300px;
    font-size: 18px;
  }

  & h2{
    font-size: 1.1em;
    @include breakpoint-xs{
      font-size: 0.9rem;
    }
  }
  & p{
    font-size: 0.9em;
    @include breakpoint-xs{
      font-size: 0.7rem;
      margin-bottom: 0.3em;
    }
  }
  &-result-container{
    position: absolute;
    width: 110%;
    height: fit-content;
    max-height: 20vh;
    overflow-y: scroll;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    @include breakpoint-xs{
      max-width: 90vw;
      width: 100%;
    }

    &::-webkit-scrollbar {
      background-color: rgba(0, 0, 0, 0.04)
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      background-color: rgb(233, 220, 220);
    }
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color:transparent;
    }
  }

  &-title{
    font-weight: bold;
  }

  &-date{
    font-family: 'NanumSquareRound';
    margin-top: 0;
  }
  &-description{
    margin-bottom: 10px;
  }
}